<div class="container main">
    <form [formGroup]="nuevoForm" (ngSubmit)="newDocument(nuevoForm.value)">
      <h4>Nuevo Documento</h4>
      <div class="form-group">
        <div class="mb-3">
          <label>Nombre</label>
          <input type="text" class="form-control" placeholder="Nombre del documento" formControlName="name">
        </div>
        <div class="mb-3">
          <label>Descripción</label>
          <input type="text" class="form-control" placeholder="Descripcion" formControlName="description">
        </div>
      </div>
      <br>
      <div class="btn-group" role="group">
        <button type="submit" class="btn btn-outline-dark">Registrar</button>
        <button type="button" class="btn btn-outline-info" (click)="goBack()">Atrás</button>
      </div>
    </form>
</div>
