<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <span class="navbar-brand">CRUD</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/principal">Principal</a>
        <a class="nav-item nav-link" href="/listarCiudades">Ciudades</a>
        <a class="nav-item nav-link" href="/listarDocumentos">Documentos</a>
        <a class="nav-item nav-link" href="/listarPersonas">Personas</a>
      </div>
    </div>
  </nav>
<div class="main">
    <router-outlet></router-outlet> 
</div>

   