<div class="container">  
  <div class="row">
    <div class="col-md-12">
      <table class="table table-borderless table-primary">
        <thead class="thead-dark">
          <tr>
            <th scope="col">id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Documento</th>
            <th scope="col">Phone</th>
            <th scope="col">User</th>
            <th scope="col">Password</th>
            <th scope="col">Email</th>
            <th scope="col">Date</th>
            <th scope="col">Tipo de Documento</th>
            <th scope="col">Ciudad</th>
            <th scope="col">Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of personas">
            <td scope="row">{{p.id}}</td>
            <td>{{p.name}}</td>
            <td>{{p.lastName}}</td>
            <td>{{p.document}}</td>
            <td>{{p.phone}}</td>
            <td>{{p.user}}</td>
            <td>{{p.password}}</td>
            <td>{{p.email}}</td>
            <td>{{p.birthDate}}</td>
            <td>{{p.documentType.name}}</td>
            <td>{{p.city.name}}</td>
            <td>
              <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-warning" (click)="editarPersona(p.id)" >Editar</button>
                <button type="button" class="btn btn-danger" (click)="eliminarPersona(p.id)" >Eliminar</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>   
  <div class="row">
    <div class="col-md-12">
      <button type="button" class="btn btn-dark col s12" (click)="nuevaPersona()" >Nueva persona</button>
    </div>
  </div>
</div>
  