<div class="contenido">
    <h1 class="titulo">CRUD</h1>
    <br>
    <p>
        Proyecto final<br>
        Programación en la Web<br>
        Impardida por el profesor <a href="https://www.facebook.com/jathinson" target="_blank"><b>Jathinson Meneses</b></a>
    </p>
    <br><br>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item"><a class="page-link" href="/principal">Principal</a></li>
          <li class="page-item"><a class="page-link" href="/listarCiudades">Ciudades</a></li>
          <li class="page-item"><a class="page-link" href="/listarDocumentos">Documentos</a></li>
          <li class="page-item"><a class="page-link" href="/listarPersonas">Personas</a></li>
        </ul>
      </nav>
</div>
