<div class="container">  
  <div class="row">
    <div class="col s12">
      <table class="table table-borderless table-primary">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Descripción</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cit of cities">
            <td scope="row">{{cit.id}}</td>
            <td class="name">{{cit.name}}</td>
            <td class="description">{{cit.description}}</td>
            <td>
              <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-warning" (click)="editarCiudad(cit.id)" >Editar</button>
                <button type="button" class="btn btn-danger" (click)="eliminarCiudad(cit.id)" >Eliminar</button>
              </div>
              
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <button type="button" class="btn btn-dark col s12" (click)="nuevaCiudad()" >Nueva ciudad</button>
    </div>
  </div>
</div>
